[Desktop Entry]
Comment=Kinda Royale
Name=Expose Blue
X-KDE-PluginInfo-Author=Mark Whittaker
X-KDE-PluginInfo-Category=Plasma Look And Feel
X-KDE-PluginInfo-Email=phobian@tutanota.com
X-KDE-PluginInfo-EnabledByDefault=true
X-KDE-PluginInfo-License=GPL-2.0+
X-KDE-PluginInfo-Name=org.magpie.exblue.desktop
X-KDE-PluginInfo-Version=2.3
X-KDE-PluginInfo-Website=https://www.pling.com/u/phob1an/
X-KDE-ServiceTypes=Plasma/LookAndFeel
X-KPackage-Dependencies=kns://aurorae.knsrc/api.kde-look.org/2140863,kns://colorschemes.knsrc/api.kde-look.org/1553515,kns://plasma-themes.knsrc/api.kde-look.org/1627056,kns://wallpaper.knsrc/api.kde-look.org/1552727,kns://sddmtheme.knsrc/api.kde-look.org/1556320
